/*-------------
 default css 
 --------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 1050px;
    margin: auto;
}
button.watch-live-btn {
    width: 168px;
    height: 44px;
    background: #E02C6D;
    border: none;
    cursor: pointer;
    transition: .3s;
}
button.watch-live-btn:hover{
    background: #b61a53;
}
main {
    margin-top: 50px;
}
/* default css end */

nav.menu-bar {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-auto-rows: 1fr;
    padding-top: 30px;
}

.logo {
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.logo h3{
    margin-left: 10px;
}
.logo img{
    width: 40.42px !important;
}
.menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu ul li {margin-right: 15px;}
.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    transition: .3s;
    padding: 5px 8px;
    border: 1px dashed #fff;
}
.menu ul li a:hover{
    background:  #615499;
}
/*------------ 
banner section
--------------- */
header {
    width: 1440px;
    background: rgb(45, 37, 160);
    height: 677px;
    margin-bottom: 70px;
    margin: 0 auto;
}
.hero-section {
    z-index: 1;
}
.bennar {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
.bennar-left-text {
    position: relative;
    left: 156px;
    top: 207px;
    color: #fff;
    width: 485px;
}
.bennar-left-text h1 {
    font-size: 64px;
    line-height: 80px;
    font-weight: 700;
}
button.watch-live-btn a {
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.bennar-right-img {
    position: relative;
    top: 150px;
    width: 556px;
    transition: transform 2s;
    cursor: pointer;
}
.bennar .bennar-right-img:hover.bennar-right-img {
    transform: scale(1.1) rotate(40deg);
}
.bennar-right-img img{
    width: 556px;
    z-index: 1;
}


/*---------------
 player section
 --------------- */

.pleyer-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 30px;
}
.pleyer-item {
    padding: 10px;
    box-shadow: -1px 1px 11px 15px #f2f2f2;
    overflow: hidden;
    transition: transform 2s;
    cursor: pointer;
    display: block;
}
.pleyer-item:hover{
    transform: scale(1.05);
}
.ply-img img {
    width: 100%;
    /* height: 256px; */
}
.ply-descrip h3 {
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
    color: #18191F;
}
.ply-descrip p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #6C6C6C;
    text-align: justify;
}


/*-------------- 
club story aria 
----------------*/
.club-section {
    background: #061D48;
    margin-top: 30px;
    padding: 100px 0;
}
.club-story {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
}
.story-content ,.academy-content{
    position: relative;
    top: 20px;
    padding: 10px;
    color: #fff
}
.story-content h1 {
    font-size: 50px;
    margin: 0;
    line-height: 44px;
    font-weight: 500;
}
.story-content p {
    font-size: 18px;
    margin: 15px 0;
}


/*------------- 
Academy aria
--------------- */
.academy-section {
    margin-top: 30px;
    padding: 100px 0;
    padding-bottom: 0;
}
.academy-section .academy-title {
    padding: 20px;
    background: #E02C6D !important;
    font-size: 30px;
    color: #fff;
    margin-bottom: 5px;

}
.academy-info {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: auto;
    gap: 30px;
}
.playeer-thum img {
    width: 100%;
}
.academy-content{
    color: #000;
}
.academy-content p {
    padding: 10px 0;
    line-height: 27px;
    text-align: justify;
}

/*---------- 
Academy topper
-------------- */
.academy-topper-list {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    gap: 30px;
    margin-top: 30px;
}
.topper-item {
    height: 370px;
    padding: 10px;
    box-shadow: -1px 3px 8px 2px #ccc;
    position: relative;
    cursor: pointer;
    transition: .5s
}
.topper-item::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #E02C6D;
    opacity: .2;
    display: none;
}
.topper-item:hover.topper-item::after{
   display: block;
}
.topper-img img{
    width: 100%;
}
.topper-name h1 {
    margin-top: 15px;
}

.topper-name span {padding: 5px;}

/*-----------------
 footer aria
 ------------------ */
 .footer-box {
    width: 485px;
    margin: auto;
    position: relative;
    top: 70px;
}
.logo img {
    width: 100%;
}
.social-icon {
    text-align: center;
}
.social-icon i {
    margin-right: 15px;
    background: #E7E7E8;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    color: #969BAB;
    transition: .3s;
}
.social-icon i:hover{
    background: #E02C6D;
    color: #fff;
}
.copyright-text {
    text-align: center;
    padding: 20px;
}
.copyright-text p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    letter-spacing: 1px;
}


/*----------
media qurey
------------ */
/* mobil device */
@media only screen and (max-width:668px) {
    .bennar, .pleyer-list, .club-story, .academy-info, .academy-topper-list {
        grid-template-columns: 1fr; 
         grid-template-rows: 1fr;
    }
    *{
        box-sizing: content-box;
    }
    .bennar-left-text,.bennar-right-img {
        top: 0;
    }
    header{
        width: 1040px;
        height: auto;
    }
    .pleyer-item ,.topper-item,.club-story {
        width: 100%;
        padding-left: 10px;
    }
    .ply-img{
        width: 100%;
    }
    .ply-descrip h3{
        font-size: 80px;
        margin-top: 10px;
    }
    .ply-descrip p {
        font-size: 36px;
        line-height: 70px;
        margin-top: 20px;
    }
    .club-section {
        background: #061D48;
        margin-top: 30px;
        padding: 100px 0;
        width: 1040px;
    }
    .story-content{
        top: 0;
    }
    .club-story-text {
        height: 300px;
        width: 600px;
        line-height: 44px;
    }
   
    .topper-item {
        margin-top: 30px;
        margin-bottom: 30px;
        height: 680px;
    }
    
}


